h1{
    text-align: center;
}

body {
    margin: 0;
    min-height: 100%;
    background-color: #f0e8da;
    font-family: "kopik", sans-serif;
    font-weight: 300;
    font-style: normal;
    color: #1e251d;
    font-size: 1.25rem;
    line-height: 1.2;
    font-weight: 400;
    letter-spacing: 0;
}
header img{
    position: fixed;
    top: 0;
    left: 0;
    width: 40px;
    height: 40px;
}

#gallery {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1.5rem;
    justify-items: center;
    margin: 0;
    padding: 0;
    
  }

 
#gallery img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 10px;
    transition: opacity 0.25s ease-in-out;
}

img:hover, img:focus{
    opacity: 0.7;
}

