/* no padding parallax */
#parallax {
    padding: 0;
    filter: grayscale();
    background-image: url("../assets/pattern.jpg");
    background-color: #2a2a2a;
    width: 100%;
    height: 400px;
    margin: 0;
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 40px;
  }

/* Set smooth scroll behavior for the whole document */
html {
    scroll-behavior: smooth;
}

h1{
    text-align: center;
    margin-top: 40px;
    margin-bottom: 40px;
}

body {
    margin: 0;
    min-height: 100%;
    background-color: #ece7e1;
    font-family: "kopik", sans-serif;
    font-weight: 300;
    font-style: normal;
    color: rgb(42, 94, 49);;
    font-size: 1.25rem;
    line-height: 1.2;
    font-weight: 400;
    letter-spacing: 0;
}

#logo {
    display: block;
    width: 80px;
    margin: 0 auto;
    position: relative;
    top: 10px;
    height: auto;
    padding-bottom: 20px;
  }


#activepage{
    background-color: #ffffff;
    border-bottom: 2px solid rgb(42, 94, 49);;
} 

nav {
    display: flex;
    justify-content: center;
  }
  
  .menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  .nav_item {
    display: inline-block;
    margin: 0 20px;
  }
  
  .nav_item a {
    text-decoration: none;
    color: #1e251d;
    position: relative;
  }
  
  .nav_item a:hover {
    color: rgb(42, 94, 49);;
  }
  
  .nav_item a:hover::after {
    content: "";
    display: block;
    height: 2px;
    width: 0;
    position: absolute;
    bottom: -2px;
    background-color: rgb(42, 94, 49);;
    transition: width 0.3s ease-in-out;
  }
  
  .nav_item a:hover::after {
    width: 100%;
  }


.content{
    padding-right: 30px;
    padding-left: 30px;
    padding-bottom: 100px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#gallery {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 1.5rem;
    justify-items: center;
    margin: 0;
    padding: 0;
    
}

#gallery img {
    width: 350px;
    height: 350px;
    object-fit: cover;
    border-radius: 10px;
    transition: opacity 0.25s ease-in-out;
}

#gallery img:hover, img:focus{
    opacity: 0.7;
}

/* Set styles for the "skip to main content" link */
a.skip{
    background: white;
    left: 0;
    padding: 6px;
    position: absolute;
    top: -40px;
    -webkit-transition: top 1s ease-out;
    transition: top 1s ease-out;
    z-index: 1;
  }
  
  a.skip:focus{
    top:20px;
    color: black;
    text-decoration-style: solid;
  }

/*tablet view*/
@media (min-width: 768px) {
/* Show the navigation links as a horizontal list */
    .menu {
        display:flex; 
        flex-direction: row;  
        background-color:  #ece7e1;
        padding: 25px; }

    .content{
        padding-right: 30px;
        padding-left: 30px;
        padding-bottom: 100px;
    }

    #gallery {
        grid-template-columns: repeat(2, 1fr);
    }

    #gallery img {
        width: 350px;
        height: 350px;
    }
}


/* Large screen styles */

@media (min-width: 1200px) {
    /* Add a sidebar for the navigation */
    .menu {
        flex-direction: column;
        left: 0;
        top: 0;
        margin: 0;
        padding: 0;
        width: 150px;
        background-color: #f1f1f1;
        font-size: 1.25rem;
        
        position: fixed;
        height: 100%;
        overflow: auto;
    }

    .content{
        padding-right: 50px;
        padding-left: 50px;
        padding-bottom: 100px;
    }
    
    #gallery {
        grid-template-columns: repeat(3, 1fr);
    }
    
    #gallery img {
        width: 300px;
        height: 300px;
    }
}

@media (prefers-reduced-motion: reduce) {
    .animated-text {
        animation-duration: 0s !important;
    }
}